.search-box {
    
    background-color: #2e0247;
    padding: 1rem;
}

.search-box span {
    margin: 1rem;
    font-weight: bold;
    color: #eee;
}

.search-box input {
    width: 90%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}