.texttfc {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(49, 0, 228);
  }

.texttfc img {
    max-width: 5%;
    height: auto;
}