/* Estilos gerais da tabela */
.table {
    border-collapse: collapse; /* Remove o espaçamento entre as células */
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 0 auto;
  }
  
  /* Estilos do cabeçalho da tabela */
  .table thead th {
    background-color: #3e033d; /* Cor de fundo do cabeçalho */
    color: #333;                /* Cor do texto do cabeçalho */
    color: #eee;      /* Cor do texto do cabeçalho */
    font-style: italic;
    font-weight: bold;          /* Texto em negrito */
    text-align: left;           /* Alinhamento do texto à esquerda */
    padding: 12px 15px;         /* Espaçamento interno das células do cabeçalho */
  }
  
  /* Estilos das linhas da tabela */
  .table tbody tr {
    background-color: #3d3d3d;    /* Cor de fundo das linhas */
    transition: background-color 0.3s; /* Transição suave na cor de fundo ao passar o mouse */
  }
  
  .table tbody tr:hover {
    background-color: #5b1ee7; /* Cor de fundo ao passar o mouse */
  }
  
  /* Estilos das células da tabela */
  .table td {
    padding: 10px 15px;        /* Espaçamento interno das células */
    vertical-align: middle;    /* Alinhamento vertical ao meio */

  }

  .table-vendas {
    padding: 1.2rem;
  }

  .input-group-text {
    display: inline-block;
    width: auto;
  }

  .dashboard {
    display: flex;
    
    .btn {
      margin: 0 0.5rem;
    
    }
    
  }