/* Estilos gerais da tabela */
.table {
    border-collapse: collapse; /* Remove o espaçamento entre as células */
    width: 100%;               /* Largura da tabela */
    max-width: 95%;          /* Largura máxima da tabela (opcional) */
    margin: 20px auto;         /* Centraliza a tabela horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Garante que as bordas arredondadas fiquem contidas na tabela */
  }
  
  /* Estilos do cabeçalho da tabela */
  .table thead th {
    background-color: #3e033d; /* Cor de fundo do cabeçalho */
    color: #333;                /* Cor do texto do cabeçalho */
    color: #eee;      /* Cor do texto do cabeçalho */
    font-style: italic;
    font-weight: bold;          /* Texto em negrito */
    text-align: left;           /* Alinhamento do texto à esquerda */
    padding: 12px 15px;         /* Espaçamento interno das células do cabeçalho */
  }
  
  /* Estilos das linhas da tabela */
  .table tbody tr {
    background-color: #3d3d3d;    /* Cor de fundo das linhas */
    transition: background-color 0.3s; /* Transição suave na cor de fundo ao passar o mouse */
  }
  
  .table tbody tr:hover {
    background-color: #5b1ee7; /* Cor de fundo ao passar o mouse */
  }
  
  /* Estilos das células da tabela */
  .table td {
    padding: 10px 15px;        /* Espaçamento interno das células */
    vertical-align: middle;    /* Alinhamento vertical ao meio */
    border-bottom: 1px solid #eee; /* Borda inferior sutil */
  }
  
  /* Bordas arredondadas para a primeira e última linha */
  .table tbody tr:first-child td {
    border-top-left-radius: 5px; /* Borda arredondada superior esquerda */
    border-top-right-radius: 5px;/* Borda arredondada superior direita */
  }
  
  .table tbody tr:last-child td {
    border-bottom-left-radius: 5px; /* Borda arredondada inferior esquerda */
    border-bottom-right-radius: 5px;/* Borda arredondada inferior direita */
  }