.ingresso-impresso {
  margin: 0;
  background-color: #1b1322;
  color: #eee;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.card-main {
  border: 1px solid #ffffff22;
  max-width: 320px;
  margin: 0 auto;
  background: linear-gradient(0deg, #26165f 0%, #11002080 100%);
  box-shadow: 0 7px 20px 5px #000;
  border-radius: 0.7rem;
  overflow: hidden;
  user-select: none;
  justify-content: center;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  .main {
    margin-top: 1rem;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      font-size: 0.9rem;
      justify-content: center;
      display: flex;
      color: #8d8d8d;
      margin-right: 2px;
      text-align: center;
    }
  }

  hr {
    width: 100%;
    border: none;
    height: 1px;
    border-bottom: 1.5px solid #ffffff22;
    margin-top: 0;
  }
  .box-image {
    border-radius: 0.5rem;
    max-width: 100%;
    object-fit: cover;
    height: 250px;
  }

  .code-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
  }

  .card-nome {
    font-style: italic;
    font-size: 1.2rem;
    margin: 0.5rem 0.5rem;
    padding-bottom: 20px;
    color: #8d8d8d;
    font-family: Courier;
    text-align: center;
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date {
      display: flex;
      margin-right: 0.2rem;
    }
    span {
      font-size: 1rem;
      font-weight: bold;
      color: #8d8d8d;
      margin-right: 2px;
    }
  }
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  font-size: 10rem;
  z-index: 0;
  color: rgb(255, 255, 255);
  h1 {
    font-size: 20rem;
    filter: opacity(0.05);
  }
}
